:root {
  --body-height: 100vh;
  --navRail-width: 7.5rem;
}

html {
  font-size:16px;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing:inherit;
}

body {
  margin: 0;
  height: var(--body-height);
}

img {
  max-width: 100%;
  height: auto;
}

.main-container {
  display: flex;
}

.container {
  display: flex;
  flex-grow: 1;
}

.navigation-rail {
  width: var(--navRail-width);
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
  user-select: none;
}

.navigation-rail .time {
  padding: 1rem 0.5rem;
  text-align: center;
  color: var(--md-sys-color-on-surface-variant);
}

.navigation-rail .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  margin:.5rem 0;
  cursor: pointer;
}

.item *{
  pointer-events: none;
}

.navigation-rail .item .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  width: 3.5rem;
  height: 2rem;
  margin-bottom: 0.25rem;
  color: var(--md-sys-color-on-surface-variant);
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.2, 0, 0, 1);
}

.navigation-rail .item.no-label .icon-container {
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
}

.navigation-rail .item .title {
  color: var(--md-sys-color-on-surface-variant);
  font-family: var(--md-sys-typescale-label-medium-font-family-name);
  font-style: var(--md-sys-typescale-label-medium-font-family-style);
  line-height: var(--md-sys-typescale-label-medium-line-height);
  font-size: var(--md-sys-typescale-label-medium-font-size);
  letter-spacing: var(--md-sys-typescale-label-medium-letter-spacing);
  font-weight: var(--md-sys-typescale-label-medium-font-weight);
}

.navigation-rail .item .icon-container span {
  transition-duration: 2000ms;
}

.navigation-rail .item:hover .icon-container {
  background-color: rgba(68, 70, 72, 0.08);
}

.navigation-rail .item.active .icon-container span {
  font-variation-settings: "FILL" 1, "wght" 400, "opsz" 24;
  color: var(--md-sys-color-on-secondary-container);
}

.navigation-rail .item .icon-container img {
  width: 24px;
}

.navigation-rail .item.active .title {
  color: var(--md-sys-color-on-surface);
}

.navigation-rail .item.active .icon-container {
  background-color: var(--md-sys-color-secondary-container);
}

.menu {
  max-width:7.5rem;
  height:100vh;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

/* .menu span {
  width:90%;
  padding:.2rem;
  border:1px solid black;
  border-radius:1rem;
  margin: .5rem 0;
  display: flex;
  flex-direction:column;
  text-align: center;
  justify-self: center;
  align-items: center;
}

.menu span:hover {
  opacity: .75;
  cursor: pointer;
} */

.cont {
  padding: 1rem;
  background-color: var(--md-sys-color-background-dark);
  margin: 1rem;
  border-radius: 1rem; 
  flex-grow: 1;
}

.user-grid {
  display:grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(15rem,1fr));
}

.cont .item {
  max-width:12.5rem;
  padding:.5rem;
  height:2rem;
  margin:1rem 1rem;
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  border-radius:.75rem;
  font-family: 'Roboto Medium';
  background-color: #eff4f9;
}

.cont .item:hover {
  opacity: .75;
  cursor: pointer;
  
}

@media (prefers-color-scheme: light) {
  .cont {
    background-color: var(--md-sys-color-background-light);
  }
}

.cont .header {
  font-family: 'Roboto Black';
  font-weight: 900;
  font-size: 32px;
}

.cont .tab-container {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.cont .tab-container .tab {
  height: 2rem;
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  font-family: 'Roboto Medium';
  align-items: center;
  min-width: 6rem;
  background-color: var(--md-sys-color-surface);
  cursor: pointer;
  transition: background-color 0.2s cubic-bezier(0.2, 0, 0, 1);
}

.cont .tab-container .tab:hover,
.cont .tab-container .tab:focus,
.cont .tab-container .tab:active {
  background-color: rgba(68, 70, 72, 0.08);
}

.cont .tab-container .tab.active {
  background-color: var(--md-sys-color-primary-container);
}

.content {
  margin: 2rem 0.5rem;
}

.cont .setting-title {
  font-family: 'Roboto Bold';
  font-size: 18px;
}

.cont .setting-description {
  font-family: 'Roboto';
  font-size: 14px;
  color: var(--md-sys-color-on-secondary-container);
  margin-top: 0.25rem;
}